
body {
    font-family: 'oswald', Arial, Helvetica, sans-serif;
}
.portopolio, .about, .contact{
    min-height: 500px;
}
.jumbotron, .portopolio {
    background-color: #eee;
}
nav {
    position: fixed !important;
    width: 100%;
}
.jumbotron {
    padding-top: 100px;
    box-sizing: border-box;
}


